html {
  line-height: 1.15; /** correct the line height in all browsers */  
  font-size: 10px; /** for counting rem */
  font-family: "Lato", "Verdana", sans-serif;
}

body {   
  margin: 0; /** Remove the margin in all browsers.   */  
}

.wrapper {
  width: 1020px;
  margin: auto;
} 

.get-quote {
  padding: 44px 0 0 79px;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.get-quote__title {  
  margin-bottom: 26px;  
  font-size: 3rem;
  line-height: 18px;
  font-weight: 900;
  color: #f0d8d9;
}

.get-quote__text {  
  margin-bottom: 45px;
  width: 940px;  
  font-size: 1.8rem;
  line-height: 30px;
  font-weight: 300;
  text-align: justify;
  letter-spacing: 0.05px;  
  color: #f0d8d9;
}

.contact {
  display: flex;
  width: 960px;
  justify-content: space-between;
}

.form {
  display: flex;  
  flex-direction: column;
  width: 620px; 
}

.form__input {
  margin-bottom: 16px;
  padding-left: 13px;
  height: 34px;  
  background-color: #d6564f;
  border: 1px solid #d6564f;
  border-radius: 5px;
}

::placeholder {  
  font-size: 1.2rem; 
  line-height: 22px; 
  font-family: "Lato", "Verdana", sans-serif;
  font-weight: 400;  
  color: #f48c8f;
}

.form__input:focus { 
  outline-color: #f48c8f;
}

.form__textarea {
  margin-bottom: 10px;
  padding: 5px 13px;
  height: 190px;   
  background-color: #d6564f;
  border: 1px solid #d6564f;
  border-radius: 5px;
  resize: none;
}

.form__textarea:focus {
  outline-color: #f48c8f;
}

.form__submit {
  margin-bottom: 27px;
  width: 150px;
  height: 30px;
  font-size: 1.2rem; 
  line-height: 22px; 
  font-family: "Lato", "Verdana", sans-serif;
  color: #ffffff;
  background-color: #d6564f;
  border: 1px solid #f48c8f;
  border-radius: 5px;
  outline: none;
}

.form__submit:hover {
  cursor: pointer;
  background-color: #ea676b;
}

.contact-information {
  width: 320px;
}

.contact-information__title {
  margin: 0 0 -2px 0;
  font-size: 1.8rem;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: -0.1px;
  color: #f0d8d9;
}

.contact-information__text {
  margin-bottom: 20px;
  width: 300px;
  font-size: 1.2rem;
  line-height: 22px;
  font-weight: 400;
  text-align: justify;  
  color: #f0d8d9;
}

.contact-information__contacts {
  margin: 0 0 0 23px;
}

.href {
  position: relative;  
  font-size: 1.2rem;
  line-height: 22px;
  font-weight: 400;
  text-decoration: none;  
  color: #f0d8d9;
}

.href:hover {
  text-decoration: underline #f0d8d9;
}

.href_location::before {
  position: absolute;
  top: -6px;
  left: -20px;
  content: url(assets/images/location.svg);
}

.href_tel::before {
  position: absolute;
  top: -8px;
  left: -22px;
  content: url(assets/images/tel.svg);
}

.href_email::before {
  position: absolute;
  top: -2px;
  left: -31px;
  content: url(assets/images/email.svg);
}

.footer {
  padding: 15px 0;
  background-color: #2d303a;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 948px;
}

.footer__copyright {
  margin-left: 5px;
}

.copyright {  
  font-size: 1.2rem;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -0.1px;
  color: #666d89;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 160px;
}

.ico {  
  padding: 7px;
  display: block;
  width: 15px;
  height: 15px; 
  border: 1px solid #666d89;
  border-radius: 15px;  
}

.ico:hover {
  border: 2px solid #666d89;
  transition-delay: 0.1s;   
}

.ico_facebook {
  background: url(assets/images/facebook.svg) no-repeat center;   
}

.ico_google {
  background: url(assets/images/google.svg) no-repeat center;  
}

.ico_twitter {
  background: url(assets/images/twitter.svg) no-repeat center;  
}

.ico_linkedin {
  background: url(assets/images/linkedin.svg) no-repeat center;  
}
