html {
  line-height: 1.15; /** correct the line height in all browsers */
  font-family: "Lato", "Verdana", sans-serif;
  font-size: 10px; /** for counting rem */
}

body {   
  margin: 0; /** Remove the margin in all browsers.   */
}

.wrapper {
  width: 1020px;
  margin: auto;
} 

.portfolio {
  padding: 45px 0px 55px 78px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.portfolio__title {  
  margin-bottom: 28px;
  font-size: 3rem;
  line-height: 15px;
  font-weight: 900;
  color: #666d89;
}

.portfolio__text {
  margin-bottom: 12px;  
  font-size: 1.8rem;
  line-height: 32px;
  font-weight: 300;
  color: #767e9e;
}

.filter {
  display: flex;  
  justify-content: space-between;
  width: 290px;
}

.portfolio__filter {
  margin-bottom: 12px;
}

.filter__button {
  margin-left: 3px;
}

.button {
  padding: 0 6px 0 5px;
  font-family: "Lato", "Verdana", sans-serif;
  font-size: 1.2rem;
  line-height: 20px;
  font-weight: 400;
  color: #767e9e;
  background-color: #2d303a;
  border: 1px solid #666d89;
  border-radius: 5px;
} 

.button:focus {
  outline: none;
  color: #dedede;
  border: 1px solid #dedede;
}

.button:hover {
  cursor: pointer;
  border: 1px solid #0aeeee;
  transition-delay: 0.1s; 
}

.layout-4-column {
  display: flex;  
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 960px;
  height: 620px;
  overflow: hidden;
}

.portfolio__image {
  margin: 7px 19px 13px 1px;
}

.about-us {
  padding: 44px 0 0 78px;
  background-color: #f2f2f2;
  border-bottom: 5px solid #ffffff;
}

.about-us__title {
  margin-bottom: 26px;
  font-size: 3rem;
  line-height: 18px;
  font-weight: 900;
  color: #666d89;  
}

.about-us__text {
  margin-bottom: 45px;
  font-size: 1.8rem;
  line-height: 30px;
  font-weight: 300;
  color: #767e9e;
}

.layout-3-column {
  display: flex;  
  flex-direction: row;
  justify-content: space-around;
  width: 960px;  
}

.employee {
  width: 300px;
}

.about-us__employee {
  margin-right: 20px;
}

.employee__photo {
  margin-bottom: -2px;
}

.employee__name {
  margin-bottom: -3px;
  height: 1.8rem;
  overflow: hidden;
  font-size: 1.8rem;
  line-height: 18px;
  font-weight: 900;
  color: #666d89;
}

.employee__text {
  margin-bottom: 24px;
  font-size: 1.2rem;
  line-height: 22px;
  font-weight: 400;
  color: #767e9e;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 160px;
}

.employee__social-links {
  margin-left: -3px;
  margin-bottom: 67px;
}

.ico {  
  padding: 7px;
  display: block;
  width: 15px;
  height: 15px; 
  border: 1px solid #666d89;
  border-radius: 15px;  
}

.ico:hover {
  border: 2px solid #666d89;  
  transition-delay: 0.1s; 
}

.ico_facebook {
  background: url(assets/images/facebook.svg) no-repeat center;   
}

.ico_google {
  background: url(assets/images/google.svg) no-repeat center;  
}

.ico_twitter {
  background: url(assets/images/twitter.svg) no-repeat center;  
}

.ico_linkedin {
  background: url(assets/images/linkedin.svg) no-repeat center;  
}

