/* switch fonts */

/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'),
       url('assets/fonts/lato-v16-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('assets/fonts/lato-v16-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'),
       url('assets/fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('assets/fonts/lato-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'),
       url('assets/fonts/lato-v16-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('assets/fonts/lato-v16-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'),
       url('assets/fonts/lato-v16-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('assets/fonts/lato-v16-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  font-size: 10px; /** for counting rem */
  line-height: 1.15; /** correct the line height in all browsers */
  font-family: "Lato", "Verdana", sans-serif;  
}

body {   
  margin: 0; /** Remove margins and paddings in all browsers.   */
  padding: 0;
}

.wrapper {  
  width: 1020px;
  margin: auto;  
}

.header__wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 24px 0 23px;
}

.header {
  background-color: #2d303a;
  border-bottom: 6px solid #323746 ;
}

.header__navigation {
  width: 383px;
  margin-right: 81px;
}

.logo__title {
  margin-left: 39px;  
  font-size: 2.5rem;
  line-height: 6px;
  font-weight: 700;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  color: #ffffff;
}

.logo__star {
  color: #f06c64;
}

.navigation {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.navigation li:not(:first-child):before {
  content: ".";
  position: relative;
  top: -3px;
  left: 0;  
  font-size: 1.2rem;
  line-height: 6px;
  font-weight: 700;
  color: #494e62;
}

.navigation__href {
  margin: 0 13px;
  font-size: 1.2rem;
  line-height: 6px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;  
}

.navigation__href:hover {
  cursor: pointer;
  color:  #95b0dd;
}

.navigation__href.active {
  color: #f06c64;
}

.slider {  
  padding: 53px 0 49px;
  background-color: #f06c64;
  border-bottom: 15px solid #ea676b;
  transition-duration: 1s;
}

.slider_carousel {
  background-color: #648BF0;
  border-bottom: 15px solid #648BF0;
}

.slider__wrapper {
  position: relative;
}

.carousel {
  width: 100%;
  overflow: hidden;  
  position: relative;
}


.iphone-container {
  display: none; 
  animation: 1s ease-in-out;
}

.iphone-container_active, .next {
  display: flex;   
  position: relative;   
  padding: 0 240px 0; 
}

.iphone-container_main {
  width: 761px;
  justify-content: space-between;
  padding: 0;
}

.next {
  position: absolute;
  top: 0;
}

.slider__iphone {
  margin-left: 112px;
}

.iphone {
  position: relative;
  width: 240px;
  height: 483px;
}

.iphone_horizontal {  
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);    
}

.iphone_small {
  width: 159px;
  transform: scale(0.65);
  opacity: 0.5;
}

.iphone_center {
  width: 185px;
}

.iphone__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  cursor: pointer;
}

.iphone__display {
  position: absolute;
  top: 64px;
  left: 14px;   
  z-index: 30;
  width: 188px;
  height: 333px;
  overflow: hidden;
  cursor: pointer;       
}

.screen-off {
  z-index: 0;
}

.iphone__display_horizontal {
  top: 138px;
  left: -59px; 
  width: 333px;
  height: 188px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.display__image {
  margin-top: -134px;
  margin-left: -14px;
}

.display__image_horizontal {
  margin-top: -119px;
  margin-left: -125px;  
}

.iphone__shadow {
  position: absolute;
  z-index: 10;
}

.iphone__shadow_horizontal {  
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  top: 94px;
  left: -122px;
}

.to-left {
  animation-name: left;
}

.to-right {
  animation-name: right;  
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

.from-right {
  animation-name: right;  
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

.arrow {
  position: absolute;
  top: 232px;
  width: 20px;
  height: 20px;
  border: none;
  border-bottom: 5px solid #ca4549;
  border-left: 5px solid #ca4549;
  background: transparent;  
  outline: none;
  z-index: 50;  
}

.arrow:hover {
  cursor: pointer; 
  border-bottom: 5px solid #882b2e;
  border-left: 5px solid #882b2e;
}

.arrow_prev {
  left: 46px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);  
}

.arrow_next {
  right: 44px;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);  
}

.our-services {
  padding: 69px 0 29px 79px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;     
}

.our-services__title {
  margin: 0 0 26px;  
  font-size: 3rem;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: -0.1px;
  text-transform: capitalize;
  color: #666d89;
}

.our-services__text {
  margin: 0 0 44px;
  width: 940px;
  font-size: 1.8rem;
  line-height: 31px;  
  font-weight: 300;
  text-align: justify; 
  letter-spacing: 0.04px;
  color: #767e9e;
}

.layout-3-column {
  display: flex;
  flex-flow: row wrap;         
}

.service {
  display: flex;
  width: 320px;
}

.service__title {
  margin: 0 0 9px;
  font-size: 1.8rem;
  line-height: 18px;
  font-weight: 900;
  text-transform: capitalize;
  color: #666d89; 
}

.service__text {
  margin: 0 0 32px;
  width: 219px;
  max-height: 64px;
  overflow: hidden;
  font-size: 1.2rem;
  line-height: 22px;  
  font-weight: 400;
  text-align: justify;
  color: #666d89;
}

.icon {
  display: inline-block;
  width: 80px; 
}

.icon_pen {
  background: url(assets/images/pen.svg) no-repeat;
}

.icon_phone {
  background: url(assets/images/phone.svg) no-repeat;
}

.icon_bulb {
  background: url(assets/images/bulb.svg) no-repeat;
}

.icon_bubble {
  background: url(assets/images/bubble.svg) no-repeat;
}

.icon_heart {
  background: url(assets/images/heart.svg) no-repeat;
}

.icon_star {
  background: url(assets/images/star.svg) no-repeat;
}

/* singolo2 styles */

.portfolio {
  padding: 70px 0px 55px 80px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.portfolio__title {  
  margin: 0 0 28px;
  font-size: 3rem;
  line-height: 15px;
  font-weight: 900;
  text-transform: capitalize;
  color: #666d89;
}

.portfolio__text {
  margin: 0 0 9px;  
  font-size: 1.8rem;
  line-height: 32px;
  font-weight: 300;
  color: #767e9e;
}

.filter {
  display: flex;  
  justify-content: space-around;
  width: 291px;
}

.portfolio__filter {
  margin: 0 0 12px;
}

.filter__button {
  margin-right: 7px;
}

.filter__button:last-of-type {
  margin: 0;
}

.button {
  padding: 0 5.5px 0 6px;
  font-family: "Lato", "Verdana", sans-serif;
  font-size: 1.2rem;
  line-height: 20px;
  font-weight: 400;
  text-transform: capitalize;  
  color: #767e9e;
  background-color: #2d303a;
  border: 1px solid #666d89;
  border-radius: 5px;
} 

.button:focus {
  outline: none;  
}

.button_active {
  color: #dedede;
  border: 1px solid #dedede;
}

.button:hover {
  cursor: pointer;
  border: 1px solid #95b0dd;
  transition-delay: 0.1s; 
}

.layout-4-column {
  display: flex;  
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 960px;
  height: 620px;
  overflow: hidden;
}

.portfolio__image {
  margin: 7px 19px 13px 1px;
  cursor: pointer;
}

.portfolio__image_chosen {
  border: 5px solid #F06C64;
  box-sizing: border-box;
}

.portfolio__image:nth-of-type(4n - 1) {
  margin: 7px 20px 13px 0px;
}

.portfolio__image:nth-of-type(4n) {
  margin: 7px 20px 13px 0px;
}

.about-us {
  padding: 69px 0 68px 80px;
  background-color: #f2f2f2;
  border-bottom: 5px solid #ffffff;
}

.about-us__title {
  margin: 0 0 26px;
  font-size: 3rem;
  line-height: 18px;
  font-weight: 900;
  text-transform: capitalize;
  color: #666d89;  
}

.about-us__text {
  margin: 0 0 44px;
  width: 940px;
  font-size: 1.8rem;
  line-height: 31px;
  font-weight: 300;
  text-align: justify;
  color: #767e9e;
}

.layout-3-column {
  display: flex;    
  width: 960px;  
}

.employee {
  width: 300px;
}

.about-us__employee {
  margin: 0 19px 0 0;
}

.about-us__employee:nth-of-type(2) {
  margin: 0 21px 0 0;
}

.employee__name {
  margin: 15px 0 10px;   
  font-size: 1.8rem;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: -0.2px;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #666d89;
}

.employee__text {
  margin: 0 0 24px;
  font-size: 1.2rem;
  line-height: 21px;
  font-weight: 400;
  text-align: justify;
  color: #767e9e;
}

.employee__text_spacing {
  word-spacing: -0.5px;
}

.social-links {
  display: flex;  
  justify-content: space-between;
  width: 151px;
}

.employee__social-links {
  margin: 0 0 0 1px;
}

.ico {  
  padding: 7px;
  display: block;
  width: 15px;
  height: 15px; 
  border: 1px solid #666d89;
  border-radius: 15px;  
}

.ico:hover {
  border: 1px solid #7faab1;  
  transition-delay: 0.1s; 
}

.ico_facebook {
  background: url(assets/images/facebook.svg) no-repeat center;   
}

.ico_google {
  background: url(assets/images/google.svg) no-repeat center;  
}

.ico_twitter {
  background: url(assets/images/twitter.svg) no-repeat center;  
}

.ico_linkedin {
  background: url(assets/images/linkedin.svg) no-repeat center;  
}

/* singolo3 styles*/

.get-quote {
  padding: 43px 0 0 79px;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.get-quote__title {  
  margin-bottom: 26px;  
  font-size: 3rem;
  line-height: 18px;
  font-weight: 900;
  color: #f0d8d9;
}

.get-quote__text {  
  margin-bottom: 43px;
  width: 940px;  
  font-size: 1.8rem;
  line-height: 31px;
  font-weight: 300;
  text-align: justify;
  letter-spacing: 0.04px;  
  color: #f0d8d9;
}

.contact {
  display: flex;
  width: 960px;
  justify-content: space-between;
}

.form {
  display: flex;  
  flex-direction: column;
  width: 620px; 
}

.form__input {
  margin-bottom: 16px;
  padding-left: 14px;
  height: 34px;  
  background-color: #d6564f;
  border: 1px solid #d6564f;
  border-radius: 5px;
}

.form__input::placeholder {  
  font-size: 1.2rem; 
  line-height: 34px; 
  font-family: "Lato", "Verdana", sans-serif;
  font-weight: 400;  
  color: #f48c8f;
}

.form__input:focus { 
  outline-color: #f48c8f;
}

.form__textarea {
  margin-bottom: 10px;
  padding: 6px 13px 5px;
  height: 190px;   
  background-color: #d6564f;
  border: 1px solid #d6564f;
  border-radius: 5px;
  resize: none;
}

.form__textarea::placeholder {  
  font-size: 1.2rem; 
  line-height: 22px; 
  font-family: "Lato", "Verdana", sans-serif;
  font-weight: 400;  
  color: #f48c8f;
}

.form__textarea:focus {
  outline-color: #f48c8f;
}

.form__submit {
  margin-bottom: 26px;
  width: 150px;
  height: 30px;
  font-size: 1.2rem; 
  line-height: 22px; 
  font-family: "Lato", "Verdana", sans-serif;
  color: #ffffff;
  background-color: #d6564f;
  border: 1px solid #f48c8f;
  border-radius: 5px;
  outline: none;
}

.form__submit:hover {
  cursor: pointer;
  background-color: #ea676b;
}

.contact-information {
  width: 320px;
}

.contact-information__title {
  margin: 0 0 9px 0;
  font-size: 1.8rem;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: -0.1px;
  color: #f0d8d9;
}

.contact-information__text {
  margin: 0 0 20px 0;
  width: 300px;
  font-size: 1.2rem;
  line-height: 22px;
  font-weight: 400;
  text-align: justify;  
  color: #f0d8d9;
}

.contact-information__contacts {
  margin: 0 0 0 -17px;
}

.contacts {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.href {
  position: relative;  
  font-size: 1.2rem;
  line-height: 22px;
  font-weight: 400;
  text-decoration: none;  
  color: #f0d8d9;
}

.href:hover {
  text-decoration: underline #f0d8d9;
}

.href_location::before {
  position: absolute;
  top: -6px;
  left: -20px;
  content: url(assets/images/location.svg);
}

.href_tel::before {
  position: absolute;
  top: -7px;
  left: -22px;
  content: url(assets/images/tel.svg);
}

.href_email::before {
  position: absolute;
  top: -3px;
  left: -31px;
  content: url(assets/images/email.svg);
}

.footer {
  padding: 15px 0;
  background-color: #2d303a;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 938px;
}

.copyright {  
  font-size: 1.2rem;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -0.1px;
  color: #666d89;
}

.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-overlay_visible {
  visibility: visible;
}

.modal-window {
  position: relative;
  width: 330px;
  height: 240px;
  background-color: #f2f2f2;
  border-radius: 18px;
}

.modal-window__title {
  font-family: "Lato", "Verdana", sans-serif;
  font-size: 1.8rem;
  font-weight: 900;
  margin: 20px;
}

.modal-window__theme, .modal-window__description {
  font-family: "Lato", "Verdana", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 10px 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-close {
  padding: 5px 20px 5px 20px;
  position: absolute;
  top: 65%;
  left: 40%;
  font-family: "Lato", "Verdana", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
}

.btn-close:hover {
  cursor: pointer;
}